#mybar{
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:70px;
    background-color:#262626;
}
#bottombar{
    position:static;
    top:0;
    left:0;
    right:0;
    height:71px;
    background-color:#262626;
}

#background{
    background-repeat: no-repeat;
}

#wrapper{
    position:relative;
    padding-left: 2%;
    padding-right: 2%;
    left: 10.5%;
    width: 75%;
    top: 8%;
    background-color:#262626d8
}
